<section>
  <div class="container max-w-screen-lg bg-slate-200 mx-auto my-4 p-8">
    <h2 class="font-serif text-primary2 font-bold text-3xl my-8">
      Informacion Importante
    </h2>
    <p class="text-gray-700 text-lg">
        Con el fin de mantener el anonimato no solo de los usuarios, sino también
        de las personas que protagonizan las historias compartidas en esta plataforma,
        es obligación de todos y cada uno de los usuarios respetar las siguientes reglas:
      </p>
      <ul class="list-disc list-inside mt-4 space-y-2">
        <li class="text-gray-700">
          Los nombres mencionados en las historias no corresponden ni se asemejan a los
          nombres verdaderos de quienes son mencionados.
        </li>
        <li class="text-gray-700">
          Se puede mencionar la ciudad donde sucedieron los hechos, pero no se debe
          mencionar el nombre del barrio, lugar exacto o establecimiento en el que
          ocurrieron los hechos.
        </li>
        <li class="text-gray-700">
          No se debe proporcionar ninguna información que pueda llevar a que alguna persona
          sea reconocida, como enlaces a imágenes, perfiles de redes sociales u otra forma
          de exponer la identidad de alguien.
        </li>
      </ul>
  </div>
</section>
