<router-outlet />
<footer class="bg-primary3 px-8 pt-12 pb-8 lg:py-16">
  <div class="flex flex-col justify-center align-middle space-y-4 lg:text-2xl">
    <p class="text-center">
      © 2023 El Confesionario. Todos los derechos reservados
    </p>
    <h3 class="text-center text-xl lg:text-3xl">CONTACTO</h3>
    <p class="text-center">
      <a href="mailto:jhonnier.hernandez@proton.me" class="hover:text-primary2"
        >jhonnier.hernandez@proton.me</a
      >
    </p>
    <p class="text-center">
      <small>Esta aplicacion no recopila datos de los usuarios.</small>
    </p>
  </div>
</footer>
