/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Abril Fatface", cursive;
}

body {
  font-family: "Roboto", sans-serif;
}
